CLICKUP_TOKEN=seu_token_pessoal_do_clickup
PORT=4173
CLICKUP_REFRESH_INTERVAL_MINUTES=10
CLICKUP_AUTO_REFRESH_ON_SERVER=false
CLICKUP_TRACKING_TAG=acompanhada
CLICKUP_REQUIRED_CUSTOM_FIELDS=Area,Orgao
CLICKUP_STALE_AFTER_DAYS=7
